TESCORD_APP_NAME=Tescord API
TESCORD_API_PREFIX=/api
TESCORD_ENVIRONMENT=development
TESCORD_DEBUG=true
TESCORD_DATABASE_URL=postgresql+psycopg://tescord:tescord@localhost:5432/tescord
TESCORD_CORS_ORIGINS=["http://localhost:4200"]
TESCORD_ALLOWED_HOSTS=["localhost","127.0.0.1"]
TESCORD_SECRET_KEY=change-me-before-production
TESCORD_ACCESS_TOKEN_EXPIRE_MINUTES=10080
TESCORD_SEED_DEMO_DATA=true
TESCORD_DEMO_LOGIN=weren9000
TESCORD_DEMO_NICK=weren9000
TESCORD_DEMO_FULL_NAME=Верен Чебыкин
TESCORD_DEMO_CHARACTER_NAME=Архимаг Кельн
TESCORD_DEMO_PASSWORD=change-admin-password
TESCORD_DEMO_IS_ADMIN=true
TESCORD_DEMO_SERVER_NAME=Forgehold Collective
